body
{
margin: 0;
}

#container
{
	width: 1400px;
	height: 600px;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	text-align: center;
	font-family: Times New Roman;
}

#title
{	
	width: 1400px;
	height: 80px;
	color: black;
	text-align: center;
	margin: 5px;
	float:left;
	padding-top:30px;
	
}

.top
{	
	width: 1400px;
	height: 80px;
	color: black;
	text-align: center;
	margin: 5px;
	float:left;
	
}

#mid
{	
	width: 1400px;
	height: 350px;
	color: black;
	text-align: center;
	margin: 5px;
	float:left;
	
}




.names
{	

	text-align: center;
	width: 330px;
	height: 60px;
	margin: 10px;
	text-align: center;
	float:left;
}
.bc_for_summer_top
{
	width: 330px;
	height: 60px;
	background-color:  white;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}
.bc_for_spring_top
{
	width: 330px;
	height: 60px;
	background-color:  #29ea68;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}.bc_for_autumn_top
{
	width: 330px;
	height: 60px;
	background-color:  #FF8C00;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}
.bc_for_winter_top
{
	width: 330px;
	height: 60px;
	background-color:  #acc5fe;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}
.bc_for_summer_bot
{
	width: 330px;
	height: 60px;
	background-color:  white;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}
.bc_for_spring_bot
{
	width: 330px;
	height: 60px;
	background-color:  #29ea68;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}.bc_for_autumn_bot
{
	width: 330px;
	height: 60px;
	background-color:  #FF8C00;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}
.bc_for_winter_bot
{
	width: 330px;
	height: 60px;
	background-color:  #acc5fe;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
	
}
.jpgs
{
	width: 330px;
	height: 330px;
	margin: 10px;
	background-color:  #facd4c;
	float:left;
}
